@inject IAnimalService AnimalsService



@foreach (Quadruped animal in AnimalsService.Quadrupeds)
    {
      <tr>				
		<td>@animal.Name</td>
		<td>@animal.Quantity</td>
      </tr>
	}

@foreach (Fowl animal in AnimalsService.Fowls)
{
	<tr>

		<td>@animal.Name</td>
		<td>@animal.Quantity</td>
	</tr>
}



@code {

	protected override async Task OnInitializedAsync()
	{
		await AnimalsService.LoadQuadrupeds();
		await AnimalsService.LoadFowls();
	}

}
