<h3>EditFood</h3>

<EditForm Model="Food" OnSubmit="HandleSubmit">
	<div class="form-group">
		<label>Denumire</label>
		<InputText @bind-Value="Food.Name" class="form-control"></InputText>
	</div>
	<div class="form-group">
		<label>Cantitate</label>
		<InputNumber @bind-Value="Food.Quantity "class="form-control"> Cantitate</InputNumber>
	</div>
	<button type="submit" class="btn btn-primary">Adauga</button>
</EditForm>

@code {
	public Barn Food { get; set; } = new Barn();

	void HandleSubmit() 
	{ }
}
