@page "/addanimals"

<h1>AddAnimals</h1>

<h1>Doriti sa adaugati:</h1>
	<ol>
		
		<li><a href="addquadrupeds">patrupede</a></li>
		<li><a href="addfowls">pasari</a></li>
		<li>reveniti la ecranul anterior</li>
	</ol>



@code {
	
}
