@page "/addfowls"
@using FarmProject.Client.Services.FoodServices;
@inject IAnimalService AnimalsService;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS



<h3>Categoria "pasari":</h3>

<table class="table">
    <thead>
        <tr>

            <th>Denumire</th>
            <th>Cantitate</th>
            <th>Adauga Animale</th>
            <th>Redu numar animale</th>


        </tr>
    </thead>
    <tbody>
        @foreach (Fowl animal in AnimalsService.Fowls)
        {
            <tr>
                <td>@animal.Name</td>
                <td>@animal.Quantity</td>
                <td><button class="btn btn-primary" @onclick="(()=> AddAnimal(animal.Id))"><i class="oi oi-plus"></i></button></td>
                <td><button class="btn btn-primary" @onclick="(()=> DecreaseAnimalNumber(animal.Id))"><i class="oi oi-minus"></i></button></td>
            </tr>
        }
    </tbody>
</table>

<a class="nav-link" href="manageanimals">Reveniti la meniul anterior</a>

@code {
    Fowl fowl = new Fowl();


    protected override async Task OnInitializedAsync()
    {
        await AnimalsService.LoadFowls();

    }

    async Task AddAnimal(int id)
    {
        fowl = await AnimalsService.GetSpecificFowl((int)id);

        bool condition = fowl.HasFoodNeedsConfigured();
        string message = $"Configurați nevoile de hrană pentru {fowl.Name} înainte de a adauga animale noi în stoc";

        if (condition)
        {
            NavigationManager.NavigateTo($"editfowl/{id}");

        }
        else
        {

            await JS.InvokeVoidAsync("displayAlert1", message);
            NavigationManager.NavigateTo($"editfowlfood/{id}");
        }


    }


    async Task DecreaseAnimalNumber(int id)
    {
        fowl = await AnimalsService.GetSpecificFowl((int)id);

        bool condition = fowl.Quantity>0;
        string message = $"Momentan nu exista {fowl.Name} în ferma.";

        if (condition)
        {
            NavigationManager.NavigateTo($"decreasefowls/{id}");
        }
        else
        {
            await JS.InvokeVoidAsync("displayAlert1", message);
        }

       
        
              

    }



}
