@page "/addfowls"
@using FarmProject.Client.Services.FoodServices;
@inject IAnimalService AnimalsService;
@inject NavigationManager NavigationManager

<h3>AddQuadrupeds</h3>

<h1>Doriti sa adaugati</h1>

<table class="table">
    <thead>
        <tr>

            <th>Denumire</th>


        </tr>
    </thead>
    <tbody>
        @foreach (Fowl animal in AnimalsService.Fowls)
        {
            <tr>
                <td>@animal.Name</td>
                <button class="btn btn-primary" @onclick="(()=> EditAnimal(animal.Id))"><i class="oi oi-pencil"></i></button>
            </tr>
        }
    </tbody>
</table>

@code {


    protected override async Task OnInitializedAsync()
    {
        await AnimalsService.LoadFowls();

    }

    void EditAnimal(int id)
    {
        NavigationManager.NavigateTo($"editfowl/{id}");
    }


}
