@page "/addfood"

<h3>AddFood</h3>

<h1>Doriti sa adaugati</h1>

<table class="table">
    <thead>
        <tr>

            <th>Tip Hrana</th>
            <th>Nr kg</th>

        </tr>
    </thead>
    <tbody>
        <BarnList />
    </tbody>
</table>



@code {

}
