@page "/addfowls"
@using FarmProject.Client.Services.FoodServices;
@inject IAnimalService AnimalsService;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h3>AddQuadrupeds</h3>

<h1>Doriti sa adaugati</h1>

<table class="table">
    <thead>
        <tr>

            <th>Denumire</th>


        </tr>
    </thead>
    <tbody>
        @foreach (Fowl animal in AnimalsService.Fowls)
        {
            <tr>
                <td>@animal.Name</td>
                <button class="btn btn-primary" @onclick="(()=> EditAnimal(animal.Id))"><i class="oi oi-pencil"></i></button>
            </tr>
        }
    </tbody>
</table>

<a class="nav-link" href="addanimals">Reveniti la meniul anterior</a>

@code {
    Fowl fowl = new Fowl();


    protected override async Task OnInitializedAsync()
    {
        await AnimalsService.LoadFowls();

    }

    async Task EditAnimal(int id)
    {
        fowl = await AnimalsService.GetSpecificFowl((int)id);

        bool condition = fowl.HasFoodNeedsConfigured();
        string message = $"Configurați nevoile de hrană pentru {fowl.Name} înainte de a adauga animale noi în stoc";

        if (condition)
        {
            NavigationManager.NavigateTo($"editfowl/{id}");

        }
        else
        {

            await JS.InvokeVoidAsync("displayAlert1", message);
        }

        
    }


}
