@page "/addquadrupeds"
@using FarmProject.Client.Services.FoodServices;
@inject IAnimalService AnimalsService;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS;




<h3>Categoria "patrupede":</h3>

<table class="table">
    <thead>
        <tr>

            <th>Denumire</th>
            <th>Adauga animale</th>
            <th>Redu numar animale</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (Quadruped animal in AnimalsService.Quadrupeds)
        {
            <tr>
                <td>@animal.Name</td>
                <td><button class="btn btn-primary" @onclick="(()=> AddAnimals(animal.Id))"><i class="oi oi-plus"></i></button></td>
                <td><button class="btn btn-primary" @onclick="(()=> DecreaseAnimalNumber(animal.Id))"><i class="oi oi-minus"></i></button></td>
            </tr>
        }
    </tbody>
</table>

<a class="nav-link" href="manageanimals">Reveniti la meniul anterior</a>

@code {


    Quadruped quadruped = new Quadruped();


    protected override async Task OnInitializedAsync()
    {
        await AnimalsService.LoadQuadrupeds();

    }



    async Task AddAnimals(int id)
    {
        quadruped = await AnimalsService.GetSpecificQuadruped((int)id);

        bool condition = quadruped.HasFoodNeedsConfigured();
        string message = $"Configurați nevoile de hrană pentru {quadruped.Name} înainte de a adauga animale noi în stoc";

        if (condition)
        {
            NavigationManager.NavigateTo($"editquadruped/{id}");

        }
        else
        {

            await JS.InvokeVoidAsync("displayAlert1", message);  
        }

    }

    async Task DecreaseAnimalNumber(int id)
    {
        quadruped = await AnimalsService.GetSpecificQuadruped((int)id);
        bool condition = quadruped.Quantity > 0;
        string message = $"Momentan nu exista {quadruped.Name} in ferma.";

        if (condition)
        {
            NavigationManager.NavigateTo($"decreasequadrupeds/{id}");
        }
        else
        {
            await JS.InvokeVoidAsync("displayAlert1", message);
        }

    }

    


}
