@page "/addquadrupeds"
@using FarmProject.Client.Services.FoodServices;
@inject IAnimalService AnimalsService;
@inject NavigationManager NavigationManager
@inject IJSRuntime JS;


<h3>AddQuadrupeds</h3>

<h1>Doriti sa adaugati</h1>

<table class="table">
    <thead>
        <tr>

            <th>Denumire</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (Quadruped animal in AnimalsService.Quadrupeds)
        {
            <tr>
                <td>@animal.Name</td>
                <button class="btn btn-primary" @onclick="(()=> EditAnimal(animal.Id))"><i class="oi oi-pencil"></i></button>
            </tr>
        }
    </tbody>
</table>

<a class="nav-link" href="addanimals">Reveniti la meniul anterior</a>

@code {

    
    Quadruped quadruped = new Quadruped();


    protected override async Task OnInitializedAsync()
    {
        await AnimalsService.LoadQuadrupeds();

    }



    async Task EditAnimal(int id)
    {
        quadruped = await AnimalsService.GetSpecificQuadruped((int)id);

        bool condition = quadruped.HasFoodNeedsConfigured();
        string message = $"Configurați nevoile de hrană pentru {quadruped.Name} înainte de a adauga animale noi în stoc";

        if (condition)
        {
            NavigationManager.NavigateTo($"editquadruped/{id}");

        }
        else
        {

            await JS.InvokeVoidAsync("displayAlert1", message);  
       }

    }

    


}
