@page "/decreasequadrupeds/{id:int}"


@using FarmProject.Client.Services.FoodServices
@inject IAnimalService AnimalsService;

@if (Id == null)
{
	<h1>Optiune neexistenta</h1>
}
else
{
	
	<h3>Introudceti cu cat scade totalul de @animal.Name:</h3>
	<EditForm Model="animal" OnSubmit="HandleSubmit">
	
		<div class="form-group">
			
			<InputNumber id="quantity" @bind-Value="animal.Quantity" class="form-control"></InputNumber>
		</div>
		<button class="btn btn-primary" type="submit">Redu</button>
	</EditForm>

	//<a class="nav-link" href="addquadrupeds">Reveniti la meniul anterior</a>

}



@code {
	[Parameter]
	public int? Id { get; set; }

	Quadruped animal = new Quadruped();
	

	protected override async Task OnParametersSetAsync()
	{
		if (Id != null)
			animal = await AnimalsService.GetSpecificQuadruped((int)Id);
		else
			Console.WriteLine("vad eu ce fac");

	}

	async Task HandleSubmit()
	{
		await AnimalsService.DecreaseQuadrupedsNumber(animal);
	}
}