@page "/editfowl"
@page "/editfowl/{id:int}"


@using FarmProject.Client.Services.FoodServices
@inject IAnimalService AnimalsService;

@if (Id == null)
{
	<h1>Optiune neexistenta</h1>
}
else
{
	<h3>Numarul curent de @animal.Name este @animal.Quantity. </h3>
	<h3>Introudceti numarul de animale noi:</h3>
	<EditForm Model="animal" OnSubmit="HandleSubmit">
		<div class="form-group">
			<label for="name">Denumire</label>
			<InputText id="name" @bind-Value="animal.Name" class="form-control"></InputText>
		</div>
		<div class="form-group">
			<label for="quantity">Cantitate</label>
			<InputNumber id="quantity" @bind-Value="animal.Quantity" class="form-control"></InputNumber>
		</div>
		<button class="btn btn-primary" type="submit">Adauga</button>
	</EditForm>
}



@code {
	[Parameter]
	public int? Id { get; set; }

	Fowl animal = new Fowl();
	

	protected override async Task OnParametersSetAsync()
	{
		if (Id != null)
			animal = await AnimalsService.GetSpecificFowl((int)Id);
		else
			Console.WriteLine("vad eu ce fac");

	}

	async Task HandleSubmit()
	{
		await AnimalsService.UpdateFowl(animal);
	}
}