@page "/farmstatus"

<h3>FarmStatus</h3>

<table class="table">
        <thead>
            <tr>
              
                <th>Categorie animal</th>
                <th>Numar</th>
                
            </tr>
        </thead>
        <tbody>
            <FarmList/>

    </tbody>
</table>



@code {

}
