@page "/farmstatus"
@using FarmProject.Client.Services.FoodServices
@inject IAnimalService AnimalsService
@inject IFoodService FoodService

<h3>Situatie curenta in ferma</h3>

<table class="table">
        <thead>
            <tr>
              
                <th>Categorie animal</th>
                <th>Numar</th>
                
            </tr>
        </thead>
        <tbody>
            <FarmList/>

    </tbody>
    
</table>
<h4>Total porumb in stoc: @cornTotal kg</h4>

<h4>Total fan in stoc: @heyTotal kg</h4>
<h4>Toate patrupedele din ferma au nevoie de @quadrupedsCorn kg de porumb in fiecare zi.</h4>
<h4>Toate pasarile din ferma au nevoie de @fowlsCorn kg de porumb in fiecare zi.</h4>
<h4>Toate patrupedele din ferma au nevoie de @quadrupedsHey kg de fan in fiecare zi.</h4>
@if (HeyStatus()==0)
{
	<h4>Stocul de fan <b>NU</b> este suficient pentru a hrani toate animalele. Adaugati hrana!</h4>
}
else 
{
	<h4>Stocul de fan este suficient pentru a hrani animalele timp de @HeyStatus() zi(le).</h4>
}

@if (CornStatus() == 0)
{
	<h4>Stocul de porumb <b>NU</b> este suficient pentru a hrani toate animalele. Adaugati hrana!</h4>
}
else
{
	<h4>Stocul de porumb este suficient pentru a hrani animalele timp de @CornStatus() zi(le).</h4>
}



@code {

	Barn corn = new Barn();
	Barn hey = new Barn();
	double? cornTotal;
	double? heyTotal;
	double? quadrupedsCorn;
	double? quadrupedsHey;
	double? fowlsCorn;


	public double CornStatus()
	{
		double? sum = quadrupedsCorn + fowlsCorn;
		if (cornTotal > sum)
			return ((int)(cornTotal / sum));
		else if (cornTotal == sum)
			return 1;
		else
			return 0;
	}

	public double HeyStatus()
	{
		if (heyTotal > quadrupedsHey)
			return ((int)(heyTotal / quadrupedsHey));
		else if (heyTotal == quadrupedsHey)
			return 1;
		else
			return 0;
	}

	protected override async Task OnParametersSetAsync()
	{
		int idCorn = 1;
		int idHey = 2;

		corn = await FoodService.GetSpecificFood((int)idCorn);
		hey = await FoodService.GetSpecificFood((int)idHey);
		cornTotal=corn.Quantity;
		heyTotal = hey.Quantity;

		

		//heyTotal = await FoodService.GetHeyQuantity();
		//cornTotal = await FoodService.GetCornQuantity();

		quadrupedsCorn = await AnimalsService.QuadrupedsCornNeeds();
		quadrupedsHey = await AnimalsService.QuadrupedsHeyNeeds();
		fowlsCorn = await AnimalsService.FowlsCornNeeds();



	}

  

}
