@page "/foodneeds"
@using FarmProject.Client.Shared

<h3>Configurare nevoie de hrana pentru animale:</h3>


<table class="table">
    <thead>
        <tr>

            <th>Animal</th>
            <th>Porumb(kg/zi)</th>
            <th>Fan(kg/zi)</th>
            <th>Modifica</th>

        </tr>
    </thead>
    <tbody>
        <NeedFood />
    </tbody>
</table>

@code {

}
