@page "/foodneeds"
@using FarmProject.Client.Shared




<table class="table">
    <thead>
        <tr>

            <th>Animal</th>
            <th>Porumb(kg/zi)</th>
            <th>Fan(kg/zi)</th>

        </tr>
    </thead>
    <tbody>
        <NeedFood />
    </tbody>
</table>

@code {

}
