@page "/manageanimals"


<h1>Doriti sa ge:</h1>
	<ol>
		
		<li><a href="addquadrupeds">patrupede</a></li>
		<li><a href="addfowls">pasari</a></li>
		<li><a href="index">reveniti la ecranul anterior</a></li>
	</ol>



@code {
	
}
