@page "/removeanimals"
@inject IAnimalService AnimalsService;
@inject NavigationManager NavigationManager;

<h1>Situatie curenta in ferma</h1>

<table class="table">
    <thead>
        <tr>

            <th>Categorie animal</th>
            <th>Numar</th>

        </tr>
    </thead>
    <tbody>
         <FarmList/>
    </tbody>
</table>

<h1>Doriti sa reduceti:</h1>

	<ol>
		
		<li><a href="addquadrupeds">patrupede</a></li>
		<li><a href="addfowls">pasari</a></li>
		<li>reveniti la ecranul anterior</li>
	</ol>






@code {

}
