@page "/removeanimals"

<h1>Doriti sa reduceti</h1>

<table class="table">
    <thead>
        <tr>

            <th>Categorie animal</th>
            <th>Numar</th>

        </tr>
    </thead>
    <tbody>
         <AnimalsList/>
    </tbody>
</table>



@code {

}
